<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dailynotes.flomo</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>__SCRIPT__</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>__HOUR__</integer>
        <key>Minute</key>
        <integer>__MINUTE__</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/dailynotes-flomo.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/dailynotes-flomo.err</string>
</dict>
</plist>
